/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');



/*---------------------------
 common styles and utilities 
 ----------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin: 0;


}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {

    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    margin-bottom: 0;


}


/* top banner styles */

.top-banner {
    display: flex;
    background: #161616;
    color: white;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 139px;
    border-radius: 30px;



}


.half-width {
    padding-top: 111px;
    padding-left: 106px;
    padding-bottom: 111px;
    width: 531px;
    height: 424px;


}

.btn {
    display: flex;
    align-items: center;
    background: #DD0000;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    transition-duration: 0.4s;

}

#btn-text {
    margin-right: 15px;
}

.btn:hover {
    background-color: green;
    color: yellow;
}

.half-width img {
    position: absolute;
    width: 581px;
    height: 613px;
    left: 801px;
    top: 83px;
}

/* ------------
  match-blogs 
--------------*/
.match-blogs,
.up-coming {
    margin-top: 120px;

}


aside {
    width: 312px;
    margin-right: 24px;
    float: left;
    background: black;
    border-radius: 10px;
    margin-left: 70px;
}

aside a {
    text-decoration: none;
}

.link-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 30px;
    background-color: #FFFFFF;
    color: #161616;
    border-radius: 10px;
}

#site-indicator {
    color: #FFFFFF;
    background-color: #DD0000;
}


.blogs,
.upcomeing-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 100px;
}

.blog,
.upcomeing-match {
    width: 312px;
    height: 362px;

}

/* for blogs site */

.blog-details {
    text-align: left;
    padding-left: 20px;
    padding-top: 24px;
    padding-bottom: 20px;
}

.blog-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* for upcomeing match site */
.teams {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.description {
    padding-left: 40px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

/* footer section */
footer {
    background-color: #161616;
    color: #FFFFFF;
    height: auto;
    padding-top: 20px;

}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li {
    margin: 0 20px;
}

.socials a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-bottom {
    background-color: #161616;
    text-align: center;
    padding: 10px 0;

}

.footer-bottom p {
    font-size: 16px;

}

.footer-bottom span {
    color: aqua;
    font-weight: 200;
}

/* for mobile device */
@media only screen and (max-width:688px) {
    .container {
        width: 100%;
        align-items: center;


    }

    .top-banner {
        display: flex;
        flex-direction: column;


    }



    .half-width img {
        position: unset;
    }

    .match-blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }



}