/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');



/* common styles and utilities */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {

    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    margin-bottom: 0;


}

/* top banner styles */

.top-banner {
    display: flex;
    background: #161616;
    color: white;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 139px;
    border-radius: 30px;



}


.half-width {
    padding-top: 111px;
    padding-left: 106px;
    padding-bottom: 111px;
    width: 531px;
    height: 424px;


}

.btn {
    display: flex;
    align-items: center;
    background: #DD0000;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    transition-duration: 0.4s;

}

#btn-text {
    margin-right: 15px;
}

.btn:hover {
    background-color: green;
    color: yellow;
}

.half-width img {
    position: absolute;
    width: 581px;
    height: 613px;
    left: 801px;
    top: 83px;
}

/* ------------
  match-blogs 
--------------*/
.match-blogs {
    margin-top: 120px;

}


aside {
    width: 312px;
    height: 312px;
    float: left;
    background: #161616;
    border-radius: 10px;
}

.link-btn-design {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.link-button {
    position: absolute;
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
}

aside a {
    text-decoration: none;
}


.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

}

.blog {
    width: 312px;
    height: 362px;

}

.blog-details {
    text-align: left;
    padding-left: 20px;
    padding-top: 24px;
    padding-bottom: 20px;
}

.blog-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-text-adjust {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px 100px;
    color: #B9B9B9;
    font-weight: 500;
}

.footer-bottom-text-adjust {
    margin: 0;
    display: flex;
    justify-content: space-between;

}